<div class="Card">
    <div class = "col-sm-10" fxLayout="row wrap" >
        <div fxFlex="25%" *ngFor="let lburger of burgers$ | async" >
    <mat-card class="Card">
      <mat-card-header style="text-align: 50px;" >
        <mat-card-title>{{lburger.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src = "../../../assets/image/burger.jfif">
      <mat-card-content>
        <p class="p">
          {{lburger.description}}

        </p>
        <p class="p1">Cost: {{lburger.cost}} zł</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="but" (click)="addToCart(lburger)">Order Now</button>
      </mat-card-actions>
    </mat-card>
    
</div>
</div>
<br>
<app-cart></app-cart>
</div>
